.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(192, 197, 206, 0.3);
  padding: 0 20px;

  .footerDivider {
    width: 100%;
    margin-bottom: 12px;
  }
}

@media (max-width: 600px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(192, 197, 206, 0.3);
    padding: 0 20px;

    .footerDivider {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}
